body{
    background-color: #2E7474;
}
form{
    text-align: center;
    width: 350px;
    height: 280px;
    margin: auto;
}
fieldset{
    background-color: #5AD1CC;
}
input{
    margin-top: 10px;
}
select{
    margin-top: 10px;
}